.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.menu-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-container ul li {
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.menu-container ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.menu-container ul li a:hover {
    color: #ffffff;
    background-color: #000;
    border-radius: 5px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-success-msg {
    color: green;
}

.login-error-msg {
    color: red;
}